In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame([10, 20, 30, 40], columns=["numbers"], index=['a', 'b', 'c', 'd'])
df

   numbers
a       10
b       20
c       30
d       40

In [2]:
df['numbers']['b']

20

In [3]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
df.loc['c']

numbers    30
Name: c, dtype: int64

In [5]:
df.iloc[:-1]

   numbers
a       10
b       20
c       30

In [6]:
df.sum()

numbers    100
dtype: int64

In [7]:
df['numbers'].apply(lambda x : x**3)

a     1000
b     8000
c    27000
d    64000
Name: numbers, dtype: int64

In [8]:
df ** 2

   numbers
a      100
b      400
c      900
d     1600

In [9]:
df['floats'] = (1.5, 2.5, 3.5, 4.5)
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [10]:
df['names'] = pd.DataFrame(['thomas', 'victor', 'yien', 'paul'], index=df.index)
df

   numbers  floats   names
a       10     1.5  thomas
b       20     2.5  victor
c       30     3.5    yien
d       40     4.5    paul

In [11]:
df = df.append(pd.DataFrame({'numbers': 50, 'floats': 5.2, 'name': 'rayceent'}, index=['y']))
df

   numbers  floats   names      name
a       10     1.5  thomas       NaN
b       20     2.5  victor       NaN
c       30     3.5    yien       NaN
d       40     4.5    paul       NaN
y       50     5.2     NaN  rayceent

In [12]:
df[['floats']].mean()

floats    3.44
dtype: float64

In [13]:
df[['numbers', 'floats']].std()

numbers    15.811388
floats      1.489295
dtype: float64

In [14]:
np.random.seed(55)
a = np.random.randint(low = 0, high  = 100, size=(9, 4))
a

array([[77, 26, 39, 72],
       [29, 61, 55, 37],
       [91, 33, 54, 35],
       [46, 94, 61, 77],
       [94, 12, 24, 71],
       [31, 97, 72, 51],
       [74, 93, 93, 91],
       [ 0, 55, 62, 43],
       [91, 82, 49, 88]])

In [15]:
df = pd.DataFrame(a)
df

    0   1   2   3
0  77  26  39  72
1  29  61  55  37
2  91  33  54  35
3  46  94  61  77
4  94  12  24  71
5  31  97  72  51
6  74  93  93  91
7   0  55  62  43
8  91  82  49  88

In [16]:
df.columns = ['boop', 'boop', 'boop', 'boop']
df

   boop  boop  boop  boop
0    77    26    39    72
1    29    61    55    37
2    91    33    54    35
3    46    94    61    77
4    94    12    24    71
5    31    97    72    51
6    74    93    93    91
7     0    55    62    43
8    91    82    49    88

In [17]:
df['boop'].mean()

boop    59.222222
boop    61.444444
boop    56.555556
boop    62.777778
dtype: float64

In [18]:
dates = pd.date_range('2020-05-01', periods=9, freq='M')
dates

DatetimeIndex(['2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='M')

In [19]:
df.index = dates
df

            boop  boop  boop  boop
2020-05-31    77    26    39    72
2020-06-30    29    61    55    37
2020-07-31    91    33    54    35
2020-08-31    46    94    61    77
2020-09-30    94    12    24    71
2020-10-31    31    97    72    51
2020-11-30    74    93    93    91
2020-12-31     0    55    62    43
2021-01-31    91    82    49    88

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2020-05-31 to 2021-01-31
Freq: M
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   boop    9 non-null      int64
 1   boop    9 non-null      int64
 2   boop    9 non-null      int64
 3   boop    9 non-null      int64
dtypes: int64(4)
memory usage: 360.0 bytes

In [21]:
df.describe()

            boop       boop       boop       boop
count   9.000000   9.000000   9.000000   9.000000
mean   59.222222  61.444444  56.555556  62.777778
std    33.829639  32.199034  19.526335  21.660897
min     0.000000  12.000000  24.000000  35.000000
25%    31.000000  33.000000  49.000000  43.000000
50%    74.000000  61.000000  55.000000  71.000000
75%    91.000000  93.000000  62.000000  77.000000
max    94.000000  97.000000  93.000000  91.000000

In [22]:
df.sum()

boop    533
boop    553
boop    509
boop    565
dtype: int64

In [23]:
df.mean()

boop    59.222222
boop    61.444444
boop    56.555556
boop    62.777778
dtype: float64

In [24]:
df.mean(axis=1)

2020-05-31    53.50
2020-06-30    45.50
2020-07-31    53.25
2020-08-31    69.50
2020-09-30    50.25
2020-10-31    62.75
2020-11-30    87.75
2020-12-31    40.00
2021-01-31    77.50
Freq: M, dtype: float64

In [26]:
# Finance data time
from datetime import datetime
import yfinance as yf

trowe = yf.Ticker("TROW")

start = datetime(2020, 1, 1)
end = datetime(2020, 7, 14)

history = trowe.history(period='1m', start=start, end=end)
history

SSLError: HTTPSConnectionPool(host='query1.finance.yahoo.com', port=443): Max retries exceeded with url: /v8/finance/chart/TROW?period1=1577854800&period2=1594699200&interval=1d&includePrePost=False&events=div%2Csplits (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')])")))